/*@font-face {    
font-family: 'Alte DIN 1451 Mittelschrift';    
font-style: normal;
font-weight: normal;
src: local('Alte DIN 1451 Mittelschrift'), url('altedin1451mittelschrift.ttf?#iefix') format('ttf');
src: local('Alte DIN 1451 Mittelschrift'), url('../fonts/altedin1451mittelschrift-webfont.woff2') format('woff2');

}
*/
@font-face{
  font-family: 'Alte DIN 1451 Mittelschrift';
  src: url('../fonts/fontawesome-webfont.eot');
  src: url('../fonts/fontawesome-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/altedin1451mittelschrift-webfont.woff') format('woff'),
  url('../fonts/altedin1451mittelschrift.ttf') format('truetype'),
  url('../fonts/fontawesome-webfont.svg#webfont') format('svg');
}


body {
    background-image: url('../images/back.png');
    background-position: center;
    background-size: cover;
    height: 100%;
    padding: 0;
    margin: 0;
}

.portal {
    
	font-family: 'Alte DIN 1451 Mittelschrift';
  text-transform: uppercase;
  background: linear-gradient(to top,
     rgba(255,255,255, 1) 13%,
     rgba(0,0,0, 0) 87%
  );
  pointer-events: none;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #183D58;
}
.portal1 {

	font-family: 'Alte DIN 1451 Mittelschrift';

  text-transform: uppercase;
  background: repeating-linear-gradient(black, grey 1px, #FFFFFF 3px, #DEDEDE 2px);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #183D58;
  margin: 20px auto; 

}
  .title {
	color: rgba(0,255,255,0.5);
}
  .cube {
    filter: alpha(Opacity=50);
    opacity: 0.5;
}

   .Table1 {
     margin-left: 767px;
	  animation-delay: 0s;
   }

   .Table2 {
     margin-left: 767px;
	  animation-delay: 0.5s;
   } 

   .Table3 {
     margin-left: 767px;
	  animation-delay: 1s;
   } 

   .Table1, .Table2, .Table3 {
  margin-bottom: 50px;
}

.animated {
  animation: fade-in 1s ease-in-out; /*  ÐÐ½Ð¸Ð¼Ð°Ñ†Ð¸Ñ: fade-in, Ð´Ð»Ð¸Ñ‚ÐµÐ»ÑŒÐ½Ð¾ÑÑ‚ÑŒ: 1 ÑÐµÐºÑƒÐ½Ð´Ð°,  ease-in-out */
}

@keyframes fade-in {
  from {
    opacity: 0;  /* ÐÐ°Ñ‡Ð°Ð»ÑŒÐ½Ð¾Ðµ ÑÐ¾ÑÑ‚Ð¾ÑÐ½Ð¸Ðµ: Ð½ÐµÐ²Ð¸Ð´Ð¸Ð¼Ð¾ÑÑ‚ÑŒ */
  }
  to {
    opacity: 1;  /* ÐšÐ¾Ð½ÐµÑ‡Ð½Ð¾Ðµ ÑÐ¾ÑÑ‚Ð¾ÑÐ½Ð¸Ðµ: Ð²Ð¸Ð´Ð¸Ð¼Ð¾ÑÑ‚ÑŒ */
  }
}

.footer_bottom {
    padding: 29px 0;
    margin-left: 820px
}